{% extends 'core/base.html' %}

{% load static %}

{% block contenido%}
<link rel="stylesheet" href="{%static 'core/css/styles2.css' %}">

    <div class="acerca_de">
        <p>
            Nombre de la Empresa: Options Rent Car.
            Industria: Alquiler de vehículos automotores
            Servicios Principales:
            
            Renta de autos económicos, de lujo, SUV, camionetas y vehículos comerciales.
            
            Opciones de renta a corto y largo plazo.
            
            Servicios adicionales: seguro de auto, GPS, sillas para niños y entrega/recogida en ubicaciones específicas.
            
            Ventajas Competitivas:
            
            Flota diversa y bien mantenida.
            
            Precios competitivos y promociones frecuentes.
            
            Atención al cliente 24/7 y proceso de renta ágil.
            
            Presencia en múltiples ubicaciones (aeropuertos, ciudades clave).
            
            Mercado Objetivo:
            
            Viajeros de negocios y turistas.
            
            Personas que necesitan vehículos temporales por mantenimiento propio o situaciones especiales.
            
            Empresas que requieren flotas para sus operaciones.
            
            Tecnología:
            
            Plataforma en línea y app móvil para reservas y gestión de rentas.
            
            Sistemas de pago seguros y transparentes.
            
            Valores:
            
            Confiabilidad, flexibilidad y servicio personalizado.
            
            Compromiso con la seguridad y satisfacción del cliente.
            
            Expansión:
            
            Planes de crecimiento nacional e internacional mediante alianzas y franquicias.
            
            Esta compañía busca posicionarse como líder en el sector de renta de vehículos, ofreciendo soluciones adaptables a las necesidades de sus clientes.
        </p>
    </div>

{% endblock %}