{% extends 'core/base.html' %}

{% load static %}

{% block contenido%}

<div class="bg_divs acerca_de">
    <h1 class="titulo_acerca_de">Sobre Nosotros</h1><br>

    <p>

        En Solution Rent Car nos dedicamos al alquiler de vehículos con un firme
        compromiso de ofrecer comodidad, seguridad y confianza en cada trayecto.
        Fundada en 2025, nuestra empresa nace con el objetivo de simplificar la
        movilidad tanto para locales como para visitantes en la República
        Dominicana.
        <br>
        <br>
        Contamos con una amplia y moderna flota de vehículos que incluye desde
        autos económicos hasta SUV de lujo, todos en excelentes condiciones y
        con mantenimiento constante. Nos esforzamos por brindar un servicio
        ágil, transparente y personalizado, ajustado a las necesidades de cada
        cliente.
        <br>
        <h3>Misión</h3>
        Nuestra misión es hacer del alquiler de vehículos una experiencia fácil,
        accesible y confiable.
        <br><br>
        <h3>Visión</h3>
        Nuestra visión es ser la empresa de rent car más recomendada del país
        por nuestra calidad humana, eficiencia y responsabilidad.
        <br> <br>
        <h3>Valores</h3>
        En Solution Rent Car trabajamos con los valores de honestidad,
        puntualidad y servicio. Nos destacamos por nuestras tarifas
        competitivas, opciones flexibles de alquiler y atención disponible 24/7.

        Ya sea que necesites un auto por trabajo, vacaciones o imprevistos,
        estamos aquí para acompañarte en cada kilómetro del camino.
    </p>
</div>


{% endblock %}